/* Colors */
$orange: #ff5800;
$light-orange: #ff691a;
$light-orange2: #ff7933;
$link-blue: #0071E3;
$link-blue2: #328de8;
$green: #0e9447;
$light-green: #10ab52;
$text-color: #333;
$light-text: #666;


/* Styles */
@mixin hover-style {
  &:hover {
    cursor: pointer;
  }
}

@mixin button-style {
  border-radius: 3px;
  outline: none;
  border: 0;
  padding: 6px 12px;

  &:hover {
    cursor: pointer;
  }
}

@mixin button-orange {
  color: #fff;  
  background-color: $orange;
  &:hover {
    background-color: $light-orange;
  }
}

@mixin button-green {
  color: #fff;
  background-color: $green;
  &:hover {
    background-color: $light-green;
  }
}

@mixin button-blue {
  color: #fff;
  background-color: $link-blue;
  &:hover {
    background-color: $link-blue2;
  }
}