@import 'mixins';

/* GLOBAL NAV */
nav.global {
  width: 100%;
  background-color: $text-color;
  span, a {
    color: #fff;
  }
    
  .logo {
    width: 10em;
    margin: 5px 0 0 0;
  }

  .dropdown-container {
    position: absolute;
    z-index: 2;
    right: 2.5em;
    top: 1.2em; 
    text-align: right;
    &:hover {
      @include hover-style;
      .dropdown {
        visibility: visible;
      }
    }    
  }
}

/* Drop down menu */
.global .dropdown { 
  top: .6em;
  padding: .5em .4em;  
  visibility: hidden;
  background-color: $text-color;

  li {
    padding: .2em;  
  }

  a {
    width: 100%;
    display: block;
    &:hover {
      color: $light-orange2;
    }
  }
}

/* CHANNELS NAV */
.channels nav {
  font-size: 1.1em;
  
  li {
    display: inline-block;
    margin-right: 1em;
  }  

  li.current {
    font-weight: bold;
  }
}

/* Drop down menu */
.channels nav li.tools {
  position: relative;
  float: left;
  width: 4em;
  height: 3em; 
}

.channels nav .dropdown {
  width: 10em;
  position: absolute;
  z-index: 2;
  margin: .3em 0 0 0;
  background-color: #fff;
  visibility: hidden;

  li {
    display: block;
    border: 1px solid $orange;
    margin: 0;
    padding: .3em .4em;
  }
}

.channels nav li.tools:hover {
  .dropdown {
    visibility: visible;
  }
}

/* PAGINATION */
.pagination {
  a {
    margin: 0 .2em;
    &:hover {
      cursor: pointer;
    }
  }
}