<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Waywire Manager" %></title>

    <%= stylesheet_link_tag "application" %>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    
    <%= javascript_include_tag  "library/jquery-1.11.2.min" %>
    <%= javascript_include_tag  "library/underscore" %>
    <%= javascript_include_tag  "library/backbone" %>
    <%= javascript_include_tag  "rails_api" %>
    <%= javascript_include_tag  "models/channel" %>
    <%= javascript_include_tag  "models/category" %>
    <%= javascript_include_tag  "collections/channels" %>
    <%= javascript_include_tag  "views/channels/channels_index" %>
    <%= javascript_include_tag  "routers/channels_router" %>
    <%= javascript_include_tag  "curatorVideo" %>
    <%= javascript_include_tag  "helpers" %>
    <%= javascript_include_tag  "navigation" %>
    <%= javascript_include_tag  "paginate" %>
    <%= javascript_include_tag  "application" %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
  </body>

  <div class="notify"></div>
</html>
