<h4 class='name'>
  <span class='value'>
    <%= name %> 
  </span> (Id: <%= id %>)
</h4>
<p class='href'>
  <label>Link:</label>
  <span class='value'>
    <%= href %>
  </span>
</p>
<p class='src'>
  <label>Chicklet:</label>
  <span class='value'>
    <%= src %>
  </span>
</p>
<p class='category_array'>
  <label>Categories:</label>
  <span class='value'>
    <%= category_array %>
  </span>  
</p>

<div class='more'>
  <span class='details'>Details</span>
  <span class='curator'>Curator info</span>
</div>  

<div class='details'>  
  <p class='desc'>
    <label>Description:</label>
    <span class='value'>
      <%= desc %>
    </span>  
  </p>  
  <p class='keywords'>
    <label>Keywords:</label>
    <span class='value'>
      <%= keywords %>
  </p>  
  <p class='mobile_banner'>
    <label>Mobile banner:</label> 
    <span class='value'>
      <%= mobile_banner %>
    </span>  
  </p> 
  <p class='banner_img'>
    <label>Channel banner:</label> 
    <span class='value'>
      <%= banner_img %>
    </span>  
  </p>    
  <p class='twitter_widget_id'>
    <label>Twitter widget id:</label>
    <span class='value'> 
      <%= twitter_widget_id %>
    </span>  
  </p>  
</div>

<div class='curator'>
  <p class='curator_img'>
    <label>Curator image:</label>
    <span class='value'>
      <%= curator_img %>
    </span>  
  </p>
  <p class='curator_name'>
    <label>Curator name:</label>
    <span class='value'>
      <%= curator_name %>
    </span>  
  </p>
  <p class='curator_desc'>
    <label>Curator description:</label>
    <span class='value'>
      <%= curator_desc %>
    </span>  
  </p>
  <p class='curator_video'>
    <label>Curator video:</label>
    <span class='value'>
      <%= curator_video %>
    </span>  
  </p>  
</div>

<button class='edit-channel' data='<%- id %>'>Edit</button>
<button class='delete-channel' data='<%- id %>'>Delete</button>
